@charset "UTF-8";

div#tv-radio{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png");
}
audio#musica{
    display: block;
    position: relative;
    left: 577px;
    top: 490px;
    width: 290px;
}
video#filme{
    display: block;
    position: relative;
    left: 87px;
    top: 70px;
    width: 440px;
}